.disclosure {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}

.disclosure:open {
  border-bottom: none;
  gap: 20px;
}

.disclosure__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  user-select: none;
}

.disclosure__title::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
}

.disclosure__title::marker {
  content: "";
}
