@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  height: 100%;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
