html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  column-gap: 10px;
}
