.preview {
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
}

.preview-section {
  line-height: 1.5;
  font-size: 18px;
}

.preview-section:not(:last-child) {
  margin-bottom: 20px;
}

.preview-section__heading {
  font-size: 30px;
}

.preview-section__bold-text {
  font-size: 20px;
  font-weight: 500;
}

.preview-section__row {
  display: flex;
  justify-content: space-between;
}
