.preview {
  line-height: 1.5;
}

.preview__personal-info {
}

.preview__fullname {
  font-weight: bold;
  font-size: 26px;
}

.preview__fullname:not(:last-child) {
  margin-bottom: 10px;
}

.preview__job-target {
  font-size: 20px;
  font-weight: 500;
}

.preview__location {
}

.preview__contacts {
  display: flex;
  justify-content: space-between;
}

.preview__phone-number {
}

.preview__email {
}
